.header {
    width: 100%; /* Убедитесь, что шапка занимает всю ширину экрана */
    top: 0; /* Прикрепляет шапку к верхней части экрана */
    z-index: 1030; /* Убедитесь, что шапка находится над другими элементами */
  }
  
.header-link:hover {
    color: #ffffff;
  }
.header-link {
    color: #0b0b0b;
    font-size: 1.5rem; 
    font-weight: bold;
  }